<a href="https://colab.research.google.com/github/effection00/codestates/blob/main/n112a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤.

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf
    
#ì˜¤ëŠ˜ PDRì„ ê³„ì‚°í•˜ê¸° ìœ„í•´ì„œ ëª‡ ê°€ì§€ ì „ì œ ì¡°ê±´ë“¤ì´ í•„ìš”í•œë°ìš”, í•´ë‹¹ ë‚´ìš©ì„ ê³µìœ í•´ë“œë¦½ë‹ˆë‹¤. 
#ì ìœ ìœ¨ì€ (ì¼ë°˜ë‹´ë°° ê¸°ì¤€) 18ë…„:62%, 19ë…„ 63.5% ë¡œ ê³„ì‚°í•©ë‹ˆë‹¤. ì‹œì¥ì˜ ê·œëª¨ëŠ” 18ë…„ 15ì¡°, 19ë…„ 15ì¡° ë¼ê³  ê°€ì •í•©ë‹ˆë‹¤.
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']
import pandas as pd
df = pd.read_csv(url, names = headers)

def ToInt(string): #ê´„í˜¸ì•ˆì— ë„£ì„ ë•Œ ë¬¸ìì—´ì´ë¯€ë¡œ '' ë„£ê¸°
  return int(string.replace(',',''))

df['ì˜ì—…ì´ìµ'] = df['ì˜ì—…ì´ìµ'].apply(ToInt)
df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡'].apply(ToInt)

df['ì˜ì—…ì´ìµë¥ 2'] = df['ì˜ì—…ì´ìµ']/df['ë§¤ì¶œì•¡']*100 #ì˜ì—…ì´ìµë¥ 2 feature ë°ì´í„° ìƒì„±ì™„ë£Œ
df

Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20170925-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 34 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨ EPS(ì›) PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991      3,991  ...  803.22  2,351  13.77  31.730005
1   19/9  13222  3825      3,825  ...  836.86  2,337  13.87  28.929058
2  19/12  11982  2523      2,523  ...  850.82    873  12.42  21.056585
3   20/3  11784  3150      3,150  ...  823.16  2,134   9.71  26.731161
4   20/6  13188  3947      3,947  ...  837.40  2,135  10.46  29.928723

[5 rows x 26 columns]

In [ ]:
df2 = pd.DataFrame(
    {"êµ¬ë¶„" : ['18ë…„','19ë…„'],
     "ì¢…ê°€" :[101500, 93800],
    "ë°œí–‰ì£¼ì‹ìˆ˜" : [137292497,137292497],
      "ì‹œê°€ì´ì•¡" : [13935188445500,12878036218600],
     "ì‹œì¥ì ìœ ìœ¨" : [0.62,0.635],
     "TAM":[15000000000000,15000000000000]}
     , index = [0,1])
df2['ì‹œê°€ì´ì•¡'] = df2['ì‹œê°€ì´ì•¡'].apply(float)
df2['TAM'] = df2['TAM'].apply(float)
df2['PDR'] =  (df2['ì‹œê°€ì´ì•¡']/(df2['TAM']*df2['ì‹œì¥ì ìœ ìœ¨']))*100

df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜          ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨           TAM         PDR
0  18ë…„  101500  137292497  1.393519e+13  0.620  1.500000e+13  149.840736
1  19ë…„   93800  137292497  1.287804e+13  0.635  1.500000e+13  135.202480

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [ ]:
int(df.loc[0,'ë§¤ì¶œì•¡'])
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨ EPS(ì›) PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991      3,991  ...  803.22  2,351  13.77  31.730005
1   19/9  13222  3825      3,825  ...  836.86  2,337  13.87  28.929058
2  19/12  11982  2523      2,523  ...  850.82    873  12.42  21.056585
3   20/3  11784  3150      3,150  ...  823.16  2,134   9.71  26.731161
4   20/6  13188  3947      3,947  ...  837.40  2,135  10.46  29.928723

[5 rows x 26 columns]

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [ ]:

df.isnull()
df = df.fillna(0)
df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
ì˜ì—…ì´ìµë¥ 2        float64
dtype: object

In [ ]:
df['ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)'] = df['ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)'].apply(ToInt)
df['ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ']= df['ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ'].apply(ToInt)
df['ë‹¹ê¸°ìˆœì´ìµ']=df['ë‹¹ê¸°ìˆœì´ìµ'].apply(ToInt)
df['ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)']= df['ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)'].apply(ToInt)
df['ìì‚°ì´ê³„']= df['ìì‚°ì´ê³„'].apply(ToInt)
df['ë¶€ì±„ì´ê³„']= df['ë¶€ì±„ì´ê³„'].apply(ToInt)
df['ìë³¸ì´ê³„']= df['ìë³¸ì´ê³„'].apply(ToInt)
df['ìë³¸ì´ê³„(ì§€ë°°)']= df['ìë³¸ì´ê³„(ì§€ë°°)'].apply(ToInt)
df['ìë³¸ê¸ˆ']=df['ìë³¸ê¸ˆ'].apply(ToInt)
df['ì˜ì—…í™œë™í˜„ê¸ˆíë¦„']=df['ì˜ì—…í™œë™í˜„ê¸ˆíë¦„'].apply(ToInt)
df['ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„']=df['ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„'].apply(ToInt)
df['íˆ¬ìí™œë™í˜„ê¸ˆíë¦„']=df['íˆ¬ìí™œë™í˜„ê¸ˆíë¦„'].apply(ToInt)
df['EPS(ì›)']=df['EPS(ì›)'].apply(ToInt)
df.describe()

                ë§¤ì¶œì•¡         ì˜ì—…ì´ìµ  ...     PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
count      5.000000     5.000000  ...   5.000000   5.000000
mean   12550.800000  3487.200000  ...  12.046000  27.675106
std      664.979097   636.931079  ...   1.898112   4.116711
min    11784.000000  2523.000000  ...   9.710000  21.056585
25%    11982.000000  3150.000000  ...  10.460000  26.731161
50%    12578.000000  3825.000000  ...  12.420000  28.929058
75%    13188.000000  3947.000000  ...  13.770000  29.928723
max    13222.000000  3991.000000  ...  13.870000  31.730005

[8 rows x 25 columns]

In [ ]:
df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)      int64
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ        int64
ë‹¹ê¸°ìˆœì´ìµ           int64
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)       int64
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„            int64
ë¶€ì±„ì´ê³„            int64
ìë³¸ì´ê³„            int64
ìë³¸ì´ê³„(ì§€ë°°)        int64
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ             int64
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„        int64
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„        int64
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„        int64
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)          int64
PER(ë°°)        float64
ì˜ì—…ì´ìµë¥ 2        float64
dtype: object

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [ ]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['ì˜ì—…ì´ìµë¥ 2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['ë§¤ì¶œì•¡'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [ ]:
grade(df, df2)

5

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [ ]:
df.loc[2,'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)']= None
pd.isna(df['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'])
df.fillna(df['ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'].mean())

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77  31.730005
1   19/9  13222  3825        3825  ...  836.86    2337   13.87  28.929058
2  19/12  11982  2523        2523  ...  850.82     873   12.42  21.056585
3   20/3  11784  3150        3150  ...  823.16    2134    9.71  26.731161
4   20/6  13188  3947        3947  ...  837.40    2135   10.46  29.928723

[5 rows x 26 columns]

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [ ]:
df_m = df['ë§¤ì¶œì•¡'].mean()
df['ë§¤ì¶œì•¡']= df['ë§¤ì¶œì•¡'].apply(float)


def get_class(v):
  if df_m *1.1 <= v:
     score = "S"
  elif df_m *1.05 <= v:
     score = "A"
  elif df_m *0.95 <= v:
     score = "B"
  elif df_m *0.9<= v:
     score = "C"
  else:
     score = "D"

  return score


df['Relative Perfomance'] = df['ë§¤ì¶œì•¡'].apply(get_class)
df

      ë¶„ê¸°      ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ...  PER(ë°°)     ì˜ì—…ì´ìµë¥ 2  Relative Perfomance
0   19/6  12578.0  3991  ...   13.77  31.730005                    B
1   19/9  13222.0  3825  ...   13.87  28.929058                    A
2  19/12  11982.0  2523  ...   12.42  21.056585                    B
3   20/3  11784.0  3150  ...    9.71  26.731161                    C
4   20/6  13188.0  3947  ...   10.46  29.928723                    A

[5 rows x 27 columns]