<a href="https://colab.research.google.com/github/effection00/codestates/blob/main/2%EC%B0%A8%EC%A0%9C%EC%B6%9C/n122a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# ğŸ“ Assignment

# ì¹´ì´ì œê³±ê²€ì •


## 1. ê³µê³µë°ì´í„° ì¡°ì‘ ì—°ìŠµ. 

êµ­ê°€ í†µê³„ í¬í„¸ì—ì„œ ì•„ë˜ ì´ë¯¸ì§€ë¥¼ ì°¸ì¡°í•˜ì—¬

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020ë…„ 8ì›”**ì— í•´ë‹¹í•˜ëŠ” ê·œëª¨ë³„ ë¯¸ë¶„ì–‘í˜„í™© ì— ëŒ€í•œ ë°ì´í„°ì…‹ì„ ìƒì„±í•˜ì„¸ìš”. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60mì´í•˜`, `60~85m`, `85mì´ˆê³¼`ì˜ 3ê°œ ê·œëª¨ì™€ (column)
- `ì„œìš¸`, `ëŒ€ì „`, `ëŒ€êµ¬`, `ë¶€ì‚°` 4ê°œì˜ ì§€ì—­ì„ í¬í•¨í•´ì•¼í•©ë‹ˆë‹¤. (row)
- ë°ì´í„°ê°€ ì—†ëŠ” ê²½ìš°ëŠ” 0ìœ¼ë¡œ ì²˜ë¦¬í•˜ì„¸ìš”.

ì´í›„ ë°ì´í„°ì…‹ì„ colabìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”. ì´ë•Œ ë³€ìˆ˜ì˜ ì´ë¦„ì€ `df`ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/á„†á…µá„‡á…®á†«á„‹á…£á†¼ 8á„‹á…¯á†¯.xlsx')
df = df.fillna(0)
df

   ì‹œë„(1) ë¶€ë¬¸(1)   ê·œëª¨(1)  2020. 08
0     ì„œìš¸  ê³µê³µë¶€ë¬¸   60ã¡ì´í•˜         0
1      0     0  60ã€œ85ã¡         0
2      0  ë¯¼ê°„ë¶€ë¬¸   60ã¡ì´í•˜        54
3      0     0  60ã€œ85ã¡         2
4      0     0   85ã¡ì´ˆê³¼         0
5     ë¶€ì‚°  ê³µê³µë¶€ë¬¸   60ã¡ì´í•˜         0
6      0     0  60ã€œ85ã¡         0
7      0  ë¯¼ê°„ë¶€ë¬¸   60ã¡ì´í•˜       577
8      0     0  60ã€œ85ã¡       735
9      0     0   85ã¡ì´ˆê³¼       142
10    ëŒ€êµ¬  ê³µê³µë¶€ë¬¸   60ã¡ì´í•˜         0
11     0     0  60ã€œ85ã¡         0
12     0  ë¯¼ê°„ë¶€ë¬¸   60ã¡ì´í•˜       143
13     0     0  60ã€œ85ã¡      1437
14     0     0   85ã¡ì´ˆê³¼        44
15    ëŒ€ì „  ê³µê³µë¶€ë¬¸   60ã¡ì´í•˜         0
16     0     0  60ã€œ85ã¡         0
17     0  ë¯¼ê°„ë¶€ë¬¸   60ã¡ì´í•˜       782
18     0     0  60ã€œ85ã¡         1
19     0     0   85ã¡ì´ˆê³¼         0

## 2. ì§€ì—­ì— ëŒ€í•´ì„œ one-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi1`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

ì˜ˆì‹œ) ë§Œì•½ **9ì›”ë‹¬ ë°ì´í„°**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´
```python
 [0+0+0+52+2+0, 0+0+0+590+665+142, 0+0+0+113+1061+42, 0+0+0+772+1+0]
```
ì„ ë¹„êµ í•˜ê²Œ ë  ê²ƒì…ë‹ˆë‹¤.

In [ ]:
x= df['2020. 08']

In [ ]:
from scipy.stats import stats
from scipy.stats import chi2_contingency
#ê·€ë¬´ê°€ì„¤ = ì§€ì—­ë³„ë¡œ ë¯¸ë¶„ì–‘ì˜ ë¶„í¬ëŠ” ê°™ë‹¤
#ëŒ€ë¦½ê°€ì„¤ = ì§€ì—­ë³„ë¡œ ë¯¸ë¶„ì–‘ì˜ ë¶„í¬ëŠ” ë‹¤ë¥´ë‹¤

obs = [x[0:5].sum(), x[5:10].sum(),x[10:15].sum(), x[15:20].sum()]
obs
chi1 = stats.chisquare(obs)

# ê°’ í™•ì¸
chi1

# p-value ê°’ì´ 0(<0.05)ì´ë¯€ë¡œ ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°í•´ì•¼ í•œë‹¤
# ì¦‰, í†µê³„ì ìœ¼ë¡œ ì§€ì—­ë³„ ë¯¸ë¶„ì–‘ì˜ ë¶„í¬ê°€ ë‹¤ë¥´ë‹¤

Power_divergenceResult(statistic=1564.4572376818994, pvalue=0.0)

## 3. ì§€ì—­ê³¼ ê·œëª¨ì— ëŒ€í•´ì„œ two-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi2`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

ì˜ˆì‹œ) **9ì›”ë‹¬ ë°ì´í„°**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|ì„œìš¸|52|2|0|
|ëŒ€ì „|772|1|0|
|ëŒ€êµ¬|113|1061|42|
|ë¶€ì‚°|590|665|142|

ì— ëŒ€í•´ì„œ ê²€ì •í•´ì•¼ í•  ê²ë‹ˆë‹¤.

In [ ]:
y = x.values.tolist()

In [ ]:
seoul = y[2:5]
busan = y[7:10]
daegu = y[12:15]
daejeon = y[17:20]
rename = ['ì„œìš¸', 'ë¶€ì‚°','ëŒ€êµ¬','ëŒ€ì „']
region = pd.DataFrame([seoul,busan,daegu,daejeon],index=rename,columns=['-60','60-85','85-'])
region

    -60  60-85  85-
ì„œìš¸   54      2    0
ë¶€ì‚°  577    735  142
ëŒ€êµ¬  143   1437   44
ëŒ€ì „  782      1    0

In [ ]:
from scipy import stats
# two sample Chi-squared test
chi2 = stats.chi2_contingency(region)

#ê·€ë¬´ê°€ì„¤ = ë¯¸ë¶„ì–‘ ë¶„í¬ì— ëŒ€í•´ ì§€ì—­ê³¼ ê·œëª¨ëŠ” ê´€ë ¨ì´ ì—†ë‹¤
#ëŒ€ë¦½ê°€ì„¤ = ë¯¸ë¶„ì–‘ ë¶„í¬ì— ëŒ€í•´ ì§€ì—­ê³¼ ê·œëª¨ëŠ” ê´€ë ¨ì´ ìˆë‹¤

#ê²°ê³¼
chi2
# pê°’ì´ 0(<0.05)ì´ë¯€ë¡œ ê·€ë¬´ê°€ì„¤ ê¸°ê°í•˜ë©° í†µê³„ì ìœ¼ë¡œ ì§€ì—­ê³¼ ê·œëª¨ëŠ” ê´€ë ¨ì´ ìˆë‹¤

(2064.576731417199, 0.0, 6, array([[ 22.24559612,  31.09522594,   2.65917794],
        [577.59101353, 807.36533061,  69.04365586],
        [645.12228746, 901.76155221,  77.11616033],
        [311.04110288, 434.77789124,  37.18100587]]))

### 4. 2ë²ˆì— ëŒ€í•´ì„œ NumPy ë¥¼ ì‚¬ìš©í•˜ì—¬ (Scipyë¥¼ ì‚¬ìš©í•˜ì§€ ì•Šê³ ) $\chi^2$ test ì‹œí–‰ í›„ 2ë²ˆì˜ ê²°ê³¼ì™€ ë¹„êµí•´ë³´ì„¸ìš”. 

- `obs`, `exp`, `chi`ë¼ëŠ” ë³€ìˆ˜ë¥¼ ì‚¬ìš©í•´ì•¼í•©ë‹ˆë‹¤.

ì´ í›„ `chi2_contingency()`ì˜ ê²°ê³¼ë¬¼ê³¼ ë¹„êµí•´ë³´ì„¸ìš”

In [ ]:
import numpy as np

In [ ]:
import numpy as np
from scipy.stats import chisquare  


obs = np.array([[x[0:5].sum(), x[5:10].sum(),x[10:15].sum(), x[15:20].sum()]])
obs

array([[  56, 1454, 1624,  783]])

In [ ]:
total_obs = np.sum(obs)
total_obs

3917

In [ ]:
exp = total_obs/4
exp

979.25

In [ ]:
squared = np.power(obs - exp,2) #obs ê´€ì°°ê°’ exp ì˜ˆìƒê°’
squared

array([[852390.5625, 225387.5625, 415702.5625,  38514.0625]])

In [ ]:
chi = round(np.sum(squared/exp),3)
#ê²°ê³¼
chi

1564.457

In [ ]:
#2ë²ˆì˜ ì¹´ì´ì œê³± í†µê³„ì¹˜ì™€ ê°’ì´ ê°™ë‹¤
#2ë²ˆ í†µê³„ì¹˜ = 1564.457
#4ë²ˆ í†µê³„ì¹˜ = 1564.457


# pê°’
1 - stats.chi2.cdf(chi , 3)

0.0

## ğŸ”¥ ë„ì „ ê³¼ì œ

ì•„ë˜ ì„¸ê°€ì§€ë¥¼ ë‹¤í•˜ë©´ ë©ë‹ˆë‹¤.

### 1. Function

4ë²ˆì—ì„œ ì‚¬ìš©í•œ one sample chisquare testë¥¼ í•¨ìˆ˜ì˜ í˜•íƒœë¡œ ë³€ê²½í•˜ì„¸ìš”.

In [ ]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]

def myChisq(value):
    return chi# ë‚´ìš©ì„ ì±„ìš°ì„¸ìš”.
    obs = np.array(value)
    total_obs  = np.sum(obs)


myChisq(v1) 


# chisquareê°’ê³¼ pvalueë¥¼ ì¶œë ¥í•´ì•¼í•©ë‹ˆë‹¤.

myChisq(v2)

1564.457

### 2. ANOVA

ì•„ë˜ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì—¬ ANOVA ì— ëŒ€í•œ ê¸€ì„ ì½ê³ 

<https://partrita.github.io/posts/ANOVA-python/>

ë‹¤ìŒ `4ê°œ ê·¸ë£¹ì— ëŒ€í•´ì„œ í‰ê· ì˜ ì°¨ì´ê°€ ìˆëŠ”ì§€`ì— ëŒ€í•œ ê°€ì„¤ ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

In [ ]:
import pandas as pd
name = ['A','B','C','D']

df2 = pd.DataFrame([[38, 33, 35, 92, 76, 97, 88, 41, 11,9],[18, 52, 62, 48, 30, 40, 87, 12, 97, 82],
                    [28, 90, 5, 49, 66, 73, 96, 80, 4, 17],[8, 99, 4, 12, 7, 64, 18, 10, 9, 20]], index = name)
df2 = df2.transpose()
df2

    A   B   C   D
0  38  18  28   8
1  33  52  90  99
2  35  62   5   4
3  92  48  49  12
4  76  30  66   7
5  97  40  73  64
6  88  87  96  18
7  41  12  80  10
8  11  97   4   9
9   9  82  17  20

In [ ]:
from scipy.stats import f_oneway
fstat, p_val = f_oneway(df2['A'], df2['B'], df2['C'], df2['D'])
fstat, p_val

#ê·€ë¬´ê°€ì„¤ : A,B,C,D ê·¸ë£¹ì˜ í‰ê· ì€ ì°¨ì´ê°€ ì—†ë‹¤
#ëŒ€ë¦½ê°€ì„¤ : A,B,C,D ê·¸ë£¹ì˜ í‰ê· ì€ ì°¨ì´ê°€ ìˆë‹¤
# Pê°’ì´ 0.179(>0.05)ì´ë¯€ë¡œ A,B,C,D ê·¸ë£¹ì˜ í‰ê· ì€ í†µê³„ì ìœ¼ë¡œ ì°¨ì´ê°€ ì—†ë‹¤

(1.7249594239128412, 0.17920877113948797)

## 3. Sign Test

ì•„ë˜ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì—¬ Sign Testì— ëŒ€í•œ ê¸€ì„ ì½ê³ 

<https://en.wikipedia.org/wiki/Sign_test>

ë‹¤ìŒ ë°ì´í„°ì—ì„œ ë‘ ê·¸ë£¹ê°„ì— ì°¨ì´ê°€ ìˆë‹¤ì— ëŒ€í•œ Sign Testì˜ ê³¼ì •ê³¼ ê²°ê³¼ë¥¼ ì„¤ëª…í•˜ì„¸ìš”

|A|B|
|:-:|:-:|
|142|138|
|140|136|
|144|147|	
|144|139|	
|142|143|	
|146|141|	
|149|143|	
|150|145|	
|142|136|	
|148|146|

In [ ]:
#ê·€ë¬´ê°€ì„¤ : ë‘ ë°ì´í„° ê°„ì— ì°¨ì´ê°€ ì—†ë‹¤
#ëŒ€ë¦½ê°€ì„¤ : ë‘ ë°ì´í„° ê°„ì— ì°¨ì´ê°€ ìˆë‹¤
df3 = pd.DataFrame(data= {'A':[142,	140, 144,144, 142, 146, 149, 150, 142, 148],
                          'B':[138,136,147,139,143,141,143,145,136,146]})

df3

from scipy.stats import wilcoxon
df3['A-B'] = df3['A'] - df3['B']
df3

     A    B  A-B
0  142  138    4
1  140  136    4
2  144  147   -3
3  144  139    5
4  142  143   -1
5  146  141    5
6  149  143    6
7  150  145    5
8  142  136    6
9  148  146    2

In [ ]:
#ë¶€í˜¸ê²€ì •
(df3['A-B'] < 0).sum()

2

In [ ]:
(df3['A-B'] > 0).sum()

8

In [106]:
#ê·€ë¬´ê°€ì„¤ :A,BëŠ” ì°¨ì´ê°€ ì—†ë‹¤
#ëŒ€ë¦½ê°€ì„¤ :A,BëŠ” ì°¨ì´ê°€ ìˆë‹¤

# "-" 2ê°œì™€ "+" 8ê°œ ì´ë¯€ë¡œ 10ê°œì˜ ë™ì „ ì¤‘ 0,1,2,8,9,10ê°œê°€ ë‹¤ë¥¼ í™•ë¥ ì„ ì´í•­ê²€ì •ì„ ì‚¬ìš©í•´ ì°¾ìŒ
from scipy.stats import binom
sign = [binom.pmf(k=0, n=10 , p=0.5),binom.pmf(k=1, n=10 , p=0.5),binom.pmf(k=2, n=10 , p=0.5),
        binom.pmf(k=8, n=10 , p=0.5),binom.pmf(k=9, n=10 , p=0.5),binom.pmf(k=10, n=10 , p=0.5)]

#p-ê°’
np.sum(sign)
# 0.109(> 0.05)ì´ë¯€ë¡œ í†µê³„ì ìœ¼ë¡œ A,BëŠ” ì°¨ì´ê°€ ì—†ë‹¤.

0.10937500000000001

In [107]:
#Wilcoxon ë¶€í˜¸ ìˆœìœ„ ê²€ì •
from scipy.stats import wilcoxon

wilcoxon(df3['A'],df3['B'])
# ìœŒì½•ìŠ¨ ë¶€í˜¸ê²€ì •ì€ ë” í° ê²€ì •ë ¥ì„ ê°€ì§€ë¯€ë¡œ pvalue=0.016ë¡œ í†µê³„ì ìœ¼ë¡œ A,BëŠ” ì°¨ì´ê°€ ìˆë‹¤

WilcoxonResult(statistic=4.0, pvalue=0.016184453851159696)