<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# 📝 Assignment

# 가설 검정

## 1. One-Sample T-test 연습

### 데이터 불러오기
- [서울시 가로수 데이터셋](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)을 사용합니다.

다음 링크를 참조하세요. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

In [4]:
import pandas as pd

# 이 곳에 답안을 작성하시기 바랍니다

data = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt',sep='\t')
data.columns = data.iloc[0]
data = data.drop([0],axis= 0)
data = data.replace({'-':0})

#확인
data.head()

0    기간  자치구    노선수       수량     은행나무  ...    무궁화    소나무   목련    이팝나무      기타
1  2019  서울시  1,412  307,351  108,050  ...  2,374  4,539  378  20,088  20,112
2  2019  종로구     70    7,329    4,072  ...      0    239    0     711      29
3  2019   중구     48    8,250    3,640  ...     46  2,162    0     470     817
4  2019  용산구     39    7,835    4,444  ...      0     51  126     198     780
5  2019  성동구     38    8,120    1,090  ...      0     53    0     709     646

[5 rows x 24 columns]

### "서울시에는 구별로 평균 약 400 그루 정도의 `이팝나무`가 있다"라는 가설에 대해 가설검정을 시행하세요.

- 단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.
- 가설검정 결과의 pvalue 값을 `pv1`에 저장하세요. (`.pvalue` 사용)

In [5]:
import numpy as np
# 이 곳에 답안을 작성하시기 바랍니다
tree1 = pd.to_numeric(data['이팝나무'].str.replace(',',''))

# 서울시 구별 이팝나무
tree1 = tree1.iloc[1:26]
tree1

2      711
3      470
4      198
5      709
6      760
7     1176
8      449
9      853
10     575
11      47
12     142
13     443
14     493
15    1280
16     784
17    1426
18    1082
19     184
20    1281
21     397
22     249
23     446
24     768
25    1651
26     642
Name: 이팝나무, dtype: int64

In [6]:
from scipy import stats
import scipy
scipy.__version__
!pip install --upgrade scipy
#실제 평균
print(np.mean(tree1))
tt_est = stats.ttest_1samp(tree1, 400)
#가설 검정 결과; p-value(유의수준) 0.05(1-95%) 기준 -- 0.002 (< 0.5)이므로 귀무가설은 기각

#p-value 값
pv1 = tt_est.pvalue
pv1

Collecting scipy
  Downloading https://files.pythonhosted.org/packages/7d/e8/43ffca541d2f208d516296950b25fe1084b35c2881f4d444c1346ca75815/scipy-1.6.3-cp37-cp37m-manylinux1_x86_64.whl (27.4MB)
     |████████████████████████████████| 27.4MB 151kB/s
Requirement already satisfied, skipping upgrade: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.19.5)
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: scipy
  Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
Successfully installed scipy-1.6.3

688.64

0.002470712850935819

### 이번에는 10개의 구를 샘플링하여, 위에 대한 가설검정을 다시 한번 시행해보세요.

- 단, 아래의 코드를 참조하여 sample을 위한 seed 는 123로 설정하세요.
- 가설검정 결과의 pvalue값을 `pv2`에 저장하세요

In [7]:
import numpy as np
np.random.seed(123)

#10개 tree 추출
ten_tree = np.random.choice(tree1, size = 10,replace=False)  # "~"와 " "을 적절한 값으로 채우시면 됩니다
ten_tree

array([1176,  446,  768, 1281, 1426,  575,  853,  443,  760,  709])

In [8]:
#실제 평균
print(np.mean(ten_tree))
tt_est2 = stats.ttest_1samp(ten_tree, 400) 
#가설 검정 결과 ; p-value(유의수준) 0.05(1-95%) 기준 -- 0.002 (<0.5)이므로 귀무가설 기각

pv2 = tt_est2.pvalue
pv2

843.7

0.0027440170444690284

## 2. Two-Sample T-test 연습

### "서울시의 구별 평균 느티나무수와 왕벚나무의 수는 차이가 없다"라는 가설에 대해 가설검정을 시행하세요.

- 단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.
- 가설검정 결과의 pvalue를 `pv3`에 저장하세요

In [10]:
tree2 = pd.to_numeric(data['느티나무'].str.replace(',',''))
tree3 = pd.to_numeric(data['왕벚나무'].str.replace(',',''))

# 귀무가설 : 평균 느티나무 수 = 왕벚나무 수
# 대립가설 : 평균 느티나무 수 =x 왕벚나무 수


# 이 곳에 답안을 작성하시기 바랍니다
tree2 = tree2.iloc[1:26]
tree3 = tree3.iloc[1:26]

#실제 평균
print(np.mean(tree2))
print(np.mean(tree3))

#검정 결과 
pv3 = stats.ttest_ind(tree2,tree3).pvalue 

pv3 
# p값이 0.6455(>0.05)이므로 통계적으로 느타나무 수와 왕벚나무 수의 차이가 없다고 볼 수 있다

1415.12
1292.0

0.6455096880085703


### Two-Sample One-tailed test를 사용하여 **평균 느티나무수가 왕벚나무 수보다 크다**라는 가설에 대한 가설검정을 시행하세요.
- 해당 가설검정의 결과를 `ans`에 저장하세요.

이 때 `ans`가 가질 수 있는 값은 아래와 같습니다 :
1. "느티나무" ( 느티나무의 수가 통계적으로 유의하게 많은 경우 )
2. "왕벚나무" ( 왕벚나무의 수가 통계적으로 유의하게 많은 경우 )
3. "없음" (통계적으로 유의하지 않은 경우)

다음 링크를 참조하세요.
<https://stackoverflow.com/questions/15984221/how-to-perform-two-sample-one-tailed-t-test-with-numpy-scipy>

In [13]:
# 이 곳에 답안을 작성하시기 바랍니다

#tree2 느티나무 tree3 왕벚나무
# 귀무가설 : 왕벚나무 = 느티나무
# 대립가설 : 왕벚나무 > 느티나무
pv4 = stats.ttest_ind(tree2,tree3)
# one tail 단측검정

pv4[1]/2

#0.3227(>0.05)이므로 통계적으로 왕벚나무와 느티나무 수는 차이가 없다

0.32275484400428517

In [14]:
# 유의확률 0.05보다 크므로 귀무가설 기각x
#평균 느티나무수가 왕벚나무수보다 크다 

ans = '없음'
ans

'없음'

## 🔥 **도전과제**
> 3문제 모두 하면 됩니다.

### 1. Compare mean for multiple-sample 
 
다음 링크를 참조하세요. <https://reneshbedre.github.io/blog/anova.html>

구별, 은행나무, 양버즘나무, 느티나무에 대해서 ANOVA Test를 실행하세요.

단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.

In [ ]:
#정수
data['양버즘나무'] = pd.to_numeric(data['양버즘나무'].str.replace(',',''))
data['은행나무'] = pd.to_numeric(data['은행나무'].str.replace(',',''))
data['느티나무'] = pd.to_numeric(data['느티나무'].str.replace(',',''))

In [ ]:
# 이 곳에 답안을 작성하시기 바랍니다

ano_tree = data.loc[1:26,['자치구','은행나무','양버즘나무','느티나무']]
ano_tree
#ANOVA 분산분석 : 여러 그룹의 평균 차이가 통계적으로 유의미한지 판단(t-test와 비슷하지만 그룹 수 2개 이상일 때)
#일원분산분석?

stats.f_oneway(ano_tree['은행나무'],ano_tree['양버즘나무'],ano_tree['느티나무'])

### 2. Sampling

- 세션 시간에 배웠던 4가지 sample 방식을 구현해보세요.

- 이를 위한 데이터는 1 부터 100 이며, sampling해야 하는 수는 20개 입니다.

- Stratified random sampling을 위한 그룹을 나누는 기준은 1-10, 11-20, ... 과 같은 방식입니다.

- Cluster sampling 을 위한 그룹을 나누는 기준은 5로 나눴을때의 나머지 값입니다. (0,1,2,3,4)

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit
# 이 곳에 답안을 작성하시기 바랍니다

#무작위
#1.Simple random sampling
np.random.randint(1,100,size=20)

#2.Systematic sampling

#3.Stratified random sampling


#4.클러스터 기준은 5로 나눈 나머지 값

### 3. Data transform
다음 링크를 참조하여  `Inverse transform sampling` 을 구현합니다.

<https://youtu.be/9ixzzPQWuAY>

0 ~ 1 의 값을 동일한 확률로 갖는 `uniform distribution`으로 부터 `binomial distribution`으로 transform 하는 코드를 작성한 뒤, 두가지 결과를 시각화를 통해 비교하세요.

In [ ]:
# 이 곳에 답안을 작성하시기 바랍니다

uniform distribution