<a href="https://colab.research.google.com/github/effection00/codestates/blob/main/section2/%20n232a%201%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 3 / NOTE 2*

# ğŸ“ Assignment
---
# Data Wrangling

### 1) ì§€ì†ì ìœ¼ë¡œ ì—¬ëŸ¬ë¶„ì˜ í¬íŠ¸í´ë¦¬ì˜¤ ë°ì´í„°ë¥¼ ë­ê¸€ë§ í•˜ì„¸ìš”
- ì—¬ëŸ¬ë¶„ì´ ì„ íƒí•œ ë°ì´í„°ë“¤ì„ ë­ê¸€ë§í•˜ì—¬ ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•œ í…Œì´ë¸” í˜•íƒœì˜ ë°ì´í„°ë¡œ ë§Œë“¤ì–´ ë³´ì„¸ìš”.
- **ë‹¤ìŒ í•¨ìˆ˜ì˜ resultë¥¼ ì™„ì„±ì‹œí‚¤ê³  ë¦¬í„´ê°’ì„ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [2]:
### ì´ê³³ì—ì„œ ì œì¶œí¼ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

## ë‹¤ìŒ result í•¨ìˆ˜ ì•ˆì— male, female ë³€ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.(groupby, get_groupì„ ì‚¬ìš©í•˜ì„¸ìš”.)
## sum_male: Age = 20, Gender = "Male" ê·¸ë£¹ì˜ Priceë¥¼ í•©í•˜ì„¸ìš”.
## sum_female: Age = 20, Gender = "Female" ê·¸ë£¹ì˜ Priceë¥¼ í•©í•˜ì„¸ìš”.

def result(df):

    sum_male = df[df.Age == 20].groupby('Gender').Price.sum()[1]
    sum_female = df[df.Age == 20].groupby('Gender').Price.sum()[0]

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.20000000000005, sum_female: 43.730000000000004

304

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
### ì´ê³³ì—ì„œ ë³¸ì¸ ë°ì´í„°ë¡œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ### 
data = pd.read_csv('/content/drive/MyDrive/credit.csv')
data

# checking_balance : ë‹¹ì¢Œ ì”ê³  
# months_loan_duration : ëŒ€ì¶œ ê¸°ê°„(ì›” ë‹¨ìœ„)
# credit_history : ì‹ ìš©ê¸°ë¡ 
# purpose : ëª©ì  
# amount : ì–‘
# savings_balance	: ì €ì¶• ì”ê³  
# employment_length : ê³ ìš©ëœ ê¸°ê°„
# installment_rate : í• ë¶€ìœ¨
# personal_status	 : ê°œì¸ì  íŠ¹ì„±
# other_debtors : ë‹¤ë¥¸ ì±„ë¬´ì(none, ë³´ì¦ì¸, ê³µë™ì±„ë¬´ì)
# residence_history : ê±°ì£¼ ê¸°ê°„
# property: ëª©ì (ê¸°íƒ€, ë¶€ë™ì‚°, ë¹Œë”©)
# age: ë‚˜ì´
# installment_plan : í• ë¶€ ê³„íš(ì—†ìŒ, ì€í–‰, ì§‘)
# housing : ì£¼íƒ -- ìì‹ ì†Œìœ , ì „ì„¸(ë¹Œë¦¼), ë¬´ë£Œìˆ™ë°•
# existing_credits : ê¸°ì¡´ ì‹ ìš©
# default : ì²´ë‚© 
# dependents : ë¶€ì–‘ê°€ì¡±
# foreign_worker ; ì™¸êµ­ì¸ ë…¸ë™ìì¸ì§€
# job : ì§ì—…

    checking_balance  ...                      job
0             < 0 DM  ...         skilled employee
1         1 - 200 DM  ...         skilled employee
2            unknown  ...       unskilled resident
3             < 0 DM  ...         skilled employee
4             < 0 DM  ...         skilled employee
..               ...  ...                      ...
995          unknown  ...       unskilled resident
996           < 0 DM  ...  mangement self-employed
997          unknown  ...         skilled employee
998           < 0 DM  ...         skilled employee
999       1 - 200 DM  ...         skilled employee

[1000 rows x 21 columns]

### 2) ìƒˆë¡œ íŠ¹ì§•ë“¤ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”
- ì—¬ëŸ¬ë¶„ì´ ì„ íƒí•œ ë°ì´í„°ì—ì„œ íŠ¹ì§• ê³µí•™ì„ ìˆ˜í–‰í•´ ë³´ì„¸ìš”.
- **(ë‹¤ì¤‘ì„ íƒ) purchase_dataë¥¼ ë­ê¸€ë§í•˜ì—¬ ë‹¤ìŒ ì¡°ê±´ì„ ê³„ì‚°í•˜ê³  ê²°ê³¼ê°€ ì˜¬ë°”ë¥¸ í•­ëª©ë§Œ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**
    1. ë‚˜ì´ 1-20ì„¸ ê·¸ë£¹(20ì„¸ í¬í•¨)ì˜ í‰ê·  PriceëŠ” 3.101818ì´ë‹¤.
    2. ë‚˜ì´ 21-50ì„¸ ê·¸ë£¹ì˜ í‰ê·  PriceëŠ” 3.021559ì´ë‹¤.
    3. ê°€ì¥ ë§ì´ êµ¬ì…í•œ ì•„ì´í…œì˜ IDëŠ” 178 ì´ë‹¤.
    4. ë‘ë²ˆì§¸ë¡œ ë§¤ì¶œì„ ë§ì´ ë‚¸ ì•„ì´í…œ IDëŠ” 145ì´ë‹¤.

In [5]:
# ë‹µ : 1,2,3

In [6]:
### ì´ê³³ì—ì„œ ì œì¶œí¼ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###
# ê·¸ë£¹ë³„ Price í‰ê· 
print(df[(0 < df['Age'])&(df['Age'] <= 20)].Price.mean())
print()
print(df[(20 < df['Age'])&(df['Age'] <= 50)].Price.mean())
print()


# íŒë§¤ìˆ˜ ìƒìœ„ Item ID : 178, 82, 108, 145, 92
print(df['Item ID'].value_counts().index[0:5])
print()



# ë§¤ì¶œ ìƒìœ„ Item IDs : 78, 82, 145, 92, 103
print(df.groupby('Item ID')['Price'].sum().sort_values(ascending=False).index[0:5])

3.101818181818184

3.0215587044534415

Int64Index([178, 82, 108, 145, 92], dtype='int64')

Int64Index([178, 82, 145, 92, 103], dtype='int64', name='Item ID')

In [7]:
### ì´ê³³ì—ì„œ ë³¸ì¸ ë°ì´í„°ë¡œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ### 

# new feature ìƒì„± : gender
data.loc[data['personal_status'] ==  'single male','gender'] = 1

data.loc[data['personal_status'] ==  'married male','gender'] = 1
data.loc[data['personal_status'] ==  'divorced male','gender'] = 1
data.loc[data['personal_status'] ==  'female','gender'] = 0

## ğŸ”¥ ë„ì „ê³¼ì œ

### 3) ì¡°ê¸ˆ ë¶€ì¡±í•˜ë”ë¼ë„ ìµœì†Œí•œì˜ ë­ê¸€ë§ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì¤€ë¹„í•˜ì—¬ ê°„ë‹¨í•œ ëª¨ë¸ì„ í•™ìŠµì‹œì¼œ ë³´ì„¸ìš”
- ì—¬ëŸ¬ë¶„ë“¤ì´ ì„ íƒí•œ ë°ì´í„°ë¥¼ ê°€ì§€ê³  ê°„ë‹¨í•œ ëª¨ë¸ì„ í•™ìŠµí•˜ê³  ê²°ê³¼ë¥¼ ë¦¬í¬íŒ… í•©ë‹ˆë‹¤.

In [8]:
 data.foreign_worker.value_counts()
# ìë£Œê°€ ëŒ€ë¶€ë¶„ ì™¸êµ­ì¸ ë…¸ë™ì ëŒ€ìƒ

yes    963
no      37
Name: foreign_worker, dtype: int64

In [9]:
 # ì£¼ì œ : ì™¸êµ­ì¸ ë…¸ë™ì ì‹ ìš©í‰ê°€ ëª¨ë¸ ë§Œë“¤ê¸°

 # ì™¸êµ­ì¸ ë…¸ë™ì ë°ì´í„°ë§Œ ì¶”ì¶œ
data = data.drop(data[data['foreign_worker'] == 'no'].index,axis=0)
data.shape

(963, 22)

In [10]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 81kB 2.0MB/s
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [11]:
data.default.value_counts()
# ì±„ë¬´ ì €ìœ„í—˜êµ° == 1 
# ì±„ë¬´ ê³ ìœ„í—˜êµ° == 2

target = data['default']
train = data.drop(['default'],axis=1)

from category_encoders import OneHotEncoder
from category_encoders import OrdinalEncoder

ordinal = OrdinalEncoder(cols=['checking_balance','savings_balance','employment_length'])
train = ordinal.fit_transform(train)


onehot = OneHotEncoder()
train = onehot.fit_transform(train)

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train = scaler.fit_transform(train)

In [13]:
from sklearn.decomposition import PCA
from imblearn.over_sampling import SMOTE

num = 30
sm = SMOTE(ratio='auto', kind='regular')
train, target = sm.fit_sample(train,target)

pca = PCA(n_components=num)
train = pca.fit_transform(train)

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [14]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(train, target, train_size=0.8, random_state=24)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

rf = RandomForestClassifier(max_depth = 20, n_estimators=100, random_state= 42)
rf.fit(train_X, train_y)
pred_y = rf.predict(val_X)
print(roc_auc_score(val_y,pred_y))
print(rf.score(train_X, train_y))
print(rf.score(val_X, val_y))

0.8158028169014084
1.0
0.8127340823970037

In [16]:
# ì™¸êµ­ì¸ ë…¸ë™ìë¥¼ ëŒ€ìƒìœ¼ë¡œ ì±„ë¬´ ì €ìœ„í—˜ì(1) ì±„ë¬´ ê³ ìœ„í—˜ì(2)ë¥¼ ê°€ë ¤ë‚´ëŠ” ëœë¤í¬ë ˆìŠ¤íŠ¸ë¶„ë¥˜ ì‹ ìš©í‰ê°€ ëª¨ë¸ì„ ë§Œë“¤ì—ˆìŠµë‹ˆë‹¤.
# roc_auc_scoreëŠ” 81% ì •ë„ë¡œ ë‚˜ì™”ìŠµë‹ˆë‹¤. SMOTEë¥¼ ì´ìš©í•˜ì—¬ targetì˜ ë¶ˆê· í˜•ì„ ì¡°ì •í•˜ì˜€ê³  ê³¼ì í•©ì„ ë³´ì´ê³  ìˆìŠµë‹ˆë‹¤.