<a href="https://colab.research.google.com/github/effection00/codestates/blob/main/section2/%20n232a%201%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 3 / NOTE 2*

# 📝 Assignment
---
# Data Wrangling

### 1) 지속적으로 여러분의 포트폴리오 데이터를 랭글링 하세요
- 여러분이 선택한 데이터들을 랭글링하여 모델을 만들기 위한 테이블 형태의 데이터로 만들어 보세요.
- **다음 함수의 result를 완성시키고 리턴값을 과제 제출폼에 제출하세요.**

In [2]:
### 이곳에서 제출폼 과제를 진행해 주세요 ###
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

## 다음 result 함수 안에 male, female 변수를 계산하세요.(groupby, get_group을 사용하세요.)
## sum_male: Age = 20, Gender = "Male" 그룹의 Price를 합하세요.
## sum_female: Age = 20, Gender = "Female" 그룹의 Price를 합하세요.

def result(df):

    sum_male = df[df.Age == 20].groupby('Gender').Price.sum()[1]
    sum_female = df[df.Age == 20].groupby('Gender').Price.sum()[0]

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.20000000000005, sum_female: 43.730000000000004

304

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
### 이곳에서 본인 데이터로 과제를 진행해 주세요 ### 
data = pd.read_csv('/content/drive/MyDrive/credit.csv')
data

# checking_balance : 당좌 잔고 
# months_loan_duration : 대출 기간(월 단위)
# credit_history : 신용기록 
# purpose : 목적 
# amount : 양
# savings_balance	: 저축 잔고 
# employment_length : 고용된 기간
# installment_rate : 할부율
# personal_status	 : 개인적 특성
# other_debtors : 다른 채무자(none, 보증인, 공동채무자)
# residence_history : 거주 기간
# property: 목적(기타, 부동산, 빌딩)
# age: 나이
# installment_plan : 할부 계획(없음, 은행, 집)
# housing : 주택 -- 자신소유, 전세(빌림), 무료숙박
# existing_credits : 기존 신용
# default : 체납 
# dependents : 부양가족
# foreign_worker ; 외국인 노동자인지
# job : 직업

    checking_balance  ...                      job
0             < 0 DM  ...         skilled employee
1         1 - 200 DM  ...         skilled employee
2            unknown  ...       unskilled resident
3             < 0 DM  ...         skilled employee
4             < 0 DM  ...         skilled employee
..               ...  ...                      ...
995          unknown  ...       unskilled resident
996           < 0 DM  ...  mangement self-employed
997          unknown  ...         skilled employee
998           < 0 DM  ...         skilled employee
999       1 - 200 DM  ...         skilled employee

[1000 rows x 21 columns]

### 2) 새로 특징들을 만들어 보세요
- 여러분이 선택한 데이터에서 특징 공학을 수행해 보세요.
- **(다중선택) purchase_data를 랭글링하여 다음 조건을 계산하고 결과가 올바른 항목만 과제 제출폼에 제출하세요.**
    1. 나이 1-20세 그룹(20세 포함)의 평균 Price는 3.101818이다.
    2. 나이 21-50세 그룹의 평균 Price는 3.021559이다.
    3. 가장 많이 구입한 아이템의 ID는 178 이다.
    4. 두번째로 매출을 많이 낸 아이템 ID는 145이다.

In [5]:
# 답 : 1,2,3

In [6]:
### 이곳에서 제출폼 과제를 진행해 주세요 ###
# 그룹별 Price 평균
print(df[(0 < df['Age'])&(df['Age'] <= 20)].Price.mean())
print()
print(df[(20 < df['Age'])&(df['Age'] <= 50)].Price.mean())
print()


# 판매수 상위 Item ID : 178, 82, 108, 145, 92
print(df['Item ID'].value_counts().index[0:5])
print()



# 매출 상위 Item IDs : 78, 82, 145, 92, 103
print(df.groupby('Item ID')['Price'].sum().sort_values(ascending=False).index[0:5])

3.101818181818184

3.0215587044534415

Int64Index([178, 82, 108, 145, 92], dtype='int64')

Int64Index([178, 82, 145, 92, 103], dtype='int64', name='Item ID')

In [7]:
### 이곳에서 본인 데이터로 과제를 진행해 주세요 ### 

# new feature 생성 : gender
data.loc[data['personal_status'] ==  'single male','gender'] = 1

data.loc[data['personal_status'] ==  'married male','gender'] = 1
data.loc[data['personal_status'] ==  'divorced male','gender'] = 1
data.loc[data['personal_status'] ==  'female','gender'] = 0

## 🔥 도전과제

### 3) 조금 부족하더라도 최소한의 랭글링으로 데이터를 준비하여 간단한 모델을 학습시켜 보세요
- 여러분들이 선택한 데이터를 가지고 간단한 모델을 학습하고 결과를 리포팅 합니다.

In [8]:
 data.foreign_worker.value_counts()
# 자료가 대부분 외국인 노동자 대상

yes    963
no      37
Name: foreign_worker, dtype: int64

In [9]:
 # 주제 : 외국인 노동자 신용평가 모델 만들기

 # 외국인 노동자 데이터만 추출
data = data.drop(data[data['foreign_worker'] == 'no'].index,axis=0)
data.shape

(963, 22)

In [10]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 2.0MB/s
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [11]:
data.default.value_counts()
# 채무 저위험군 == 1 
# 채무 고위험군 == 2

target = data['default']
train = data.drop(['default'],axis=1)

from category_encoders import OneHotEncoder
from category_encoders import OrdinalEncoder

ordinal = OrdinalEncoder(cols=['checking_balance','savings_balance','employment_length'])
train = ordinal.fit_transform(train)


onehot = OneHotEncoder()
train = onehot.fit_transform(train)

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train = scaler.fit_transform(train)

In [13]:
from sklearn.decomposition import PCA
from imblearn.over_sampling import SMOTE

num = 30
sm = SMOTE(ratio='auto', kind='regular')
train, target = sm.fit_sample(train,target)

pca = PCA(n_components=num)
train = pca.fit_transform(train)

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [14]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(train, target, train_size=0.8, random_state=24)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

rf = RandomForestClassifier(max_depth = 20, n_estimators=100, random_state= 42)
rf.fit(train_X, train_y)
pred_y = rf.predict(val_X)
print(roc_auc_score(val_y,pred_y))
print(rf.score(train_X, train_y))
print(rf.score(val_X, val_y))

0.8158028169014084
1.0
0.8127340823970037

In [16]:
# 외국인 노동자를 대상으로 채무 저위험자(1) 채무 고위험자(2)를 가려내는 랜덤포레스트분류 신용평가 모델을 만들었습니다.
# roc_auc_score는 81% 정도로 나왔습니다. SMOTE를 이용하여 target의 불균형을 조정하였고 과적합을 보이고 있습니다.